Repository team-learning-yandex-praktikum/game-learning-project: changes, and which lefthook commands are due for each by the changed paths.
All: lint-client, lint-server, prettier

lint-client:
  run: yarn eslint {staged_files}

lint-server:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

gcc-55 rework in leaderboard
  packages/client/src/pages/LeaderBoard/LeaderBoard.tsx
  packages/client/src/pages/LeaderBoard/elements/TableRow/TableRow.tsx
  packages/client/src/store/leaderboard/thunks.ts
Due: lint-client, prettier

зависимости в usecallback и url при отправке запроса
  packages/client/src/api/leaderBoard/index.ts
  packages/client/src/pages/LeaderBoard/LeaderBoard.tsx
Due: lint-client, prettier

GCC-54 - Добавить OAuth-авторизацию в проект
  packages/client/src/api/oAuth/index.ts
  packages/client/src/api/oAuth/types.ts
  packages/client/src/components/RedirectButton/RedirectButton.tsx
  packages/client/src/components/RedirectButton/index.ts
  packages/client/src/components/RedirectButton/styles.module.css
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/OAuthCallback.tsx
  packages/client/src/pages/Login/index.ts
  packages/client/src/pages/index.ts
  packages/client/src/routes/constants.ts
  packages/client/src/routes/index.tsx
  packages/client/src/store/user/thunks.ts
  packages/client/src/utils/authentication/oauth.ts
  packages/client/src/utils/common/checks.ts
  packages/client/src/utils/ui/popup.ts
  packages/client/src/utils/url/helpers.ts
Due: lint-client, prettier

GCC-57 - Добавлен отчёт об утечках памяти в приложении
  .eslintrc.js
  packages/client/docs/MEMORYLEAKS.md
  packages/client/docs/README.md
  packages/client/docs/images/perfomance_profile_main.png
  packages/client/docs/images/perfomance_profile_memory.png
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/GameOver/GameOver.tsx
  packages/client/src/pages/Game/components/PlayGame/PlayGame.tsx
  packages/server/package.json
Due: lint-client, prettier

GCC-57 - Исправлена утечка памяти в игре
  packages/client/docs/MEMORYLEAKS.md
  packages/client/docs/images/perfomance_profile_game_leaks.png
  packages/client/docs/images/perfomance_profile_game_leaks_resolved.png
  packages/client/src/game-core/GameWorld.ts
Due: lint-client, prettier

отключение React.StrictMode в руте, а также небольшие правки
  .eslintrc.js
  packages/client/src/api/oAuth/index.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Login/OAuthCallback.tsx
  packages/client/src/store/user/thunks.ts
Due: lint-client, prettier

Небольшой рефакторинг кода
  packages/client/.eslintignore
  packages/client/.gitignore
  packages/client/server/index.ts
  packages/client/server/types.ts
  packages/client/src/main.tsx
  packages/client/src/routes/index.tsx
  packages/client/src/routes/types.ts
  packages/client/src/utils/builder/index.ts
  packages/client/src/utils/builder/isDev.ts
  packages/client/src/utils/hooks/useIsAuthPage.ts
  packages/client/src/utils/index.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
Due: lint-client, prettier

замечания из ревью
  packages/client/src/api/oAuth/index.ts
  packages/client/src/api/oAuth/types.ts
  packages/client/src/components/RedirectButton/RedirectButton.tsx
  packages/client/src/components/RedirectButton/styles.module.css
  packages/client/src/main.tsx
  packages/client/src/pages/Login/OAuthCallback.tsx
  packages/client/src/utils/authentication/oauth.ts
  packages/client/src/utils/common/checks.ts
Due: lint-client, prettier

правки
  packages/client/src/api/oAuth/index.ts
  packages/client/src/components/RedirectButton/redirectButton.module.css
  packages/client/src/routes/index.tsx
  packages/client/src/store/user/thunks.ts
Due: lint-client, prettier

замечания из ревью
  packages/client/src/components/RedirectButton/RedirectButton.tsx
  packages/client/src/components/RedirectButton/styles.module.css
  packages/client/src/pages/Login/OAuthCallback.tsx
  packages/client/src/pages/Login/__tests__/__snapshots__/Login.test.tsx.snap
  packages/client/src/routes/index.tsx
Due: lint-client, prettier

GCC-58 - Настроена серверная инфраструктура проекта
  .env.sample
  .gitignore
  Dockerfile.client
  README.md
  docker-compose.yml
  init.js
  packages/client/jest.config.js
  packages/client/jest/jest.polyfills.js
  packages/client/package.json
  packages/client/src/api/baseApi/axiosClient.ts
  packages/client/src/api/baseApi/constants.ts
  packages/client/src/api/baseApi/index.ts
  packages/client/src/client.d.ts
  packages/client/src/test-utils/requestHandlers.ts
  packages/client/src/utils/builder/isDev.ts
  packages/client/vite.config.ts
  packages/server/app/index.ts
  packages/server/app/init/index.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/pgadmin-data/.gitkeep
  packages/server/pgdata/.gitkeep
  packages/server/tsconfig.json
  yarn.lock
Due: lint-client, prettier

GCC-59 - Добавлены модели для Forum API
  .eslintrc.js
  packages/client/package.json
  packages/server/app/controllers/topic.controller.ts
  packages/server/app/error/constants.ts
  packages/server/app/index.ts
  packages/server/app/init/index.ts
  packages/server/app/models/comment.model.ts
  packages/server/app/models/index.ts
  packages/server/app/models/topic.model.ts
  packages/server/app/routes/index.ts
  packages/server/app/routes/topic.routes.ts
  packages/server/app/services/base.service.ts
  packages/server/app/services/topic.service.ts
  packages/server/package.json
  yarn.lock
Due: prettier

Отключен cors-режим, добавлена проверка для window
  packages/client/src/utils/ui/popup.ts
  packages/server/app/index.ts
Due: lint-client, prettier

GCC-59 - Исправлены модели для Forum API, добавлены контроллеры
  packages/server/app/controllers/comment.controller.ts
  packages/server/app/controllers/topic.controller.ts
  packages/server/app/error/constants.ts
  packages/server/app/index.ts
  packages/server/app/models/comment.model.ts
  packages/server/app/models/cookie.model.ts
  packages/server/app/models/topic.model.ts
  packages/server/app/routes/comment.routes.ts
  packages/server/app/routes/index.ts
  packages/server/app/routes/topic.routes.ts
  packages/server/app/services/comment.service.ts
  packages/server/app/services/cookie.service.ts
  packages/server/app/services/topic.service.ts
  packages/server/app/services/types.ts
  packages/server/app/validation/constants.ts
  packages/server/package.json
  yarn.lock
Due: prettier

Исправлены роуты в SSR
  packages/client/server/index.ts
  packages/server/app/init/index.ts
Due: lint-client, prettier

GCC-64 API для форума клиент
  packages/client/src/api/forum/index.ts
  packages/client/src/api/forum/types.ts
  packages/client/src/api/index.ts
  packages/client/src/components/Empty/Empty.tsx
  packages/client/src/components/Empty/empty.module.css
  packages/client/src/components/Empty/index.ts
  packages/client/src/components/Empty/types.ts
  packages/client/src/components/Loader/Loader.tsx
  packages/client/src/components/Loader/index.ts
  packages/client/src/components/Loader/loader.module.css
  packages/client/src/components/Loader/types.ts
  packages/client/src/pages/Forum/Forum.tsx
  packages/client/src/pages/Forum/elements/NewTopic/NewTopic.tsx
  packages/client/src/pages/Forum/elements/NewTopic/fieldsConfig.ts
  packages/client/src/pages/Forum/elements/NewTopic/types.ts
  packages/client/src/pages/Forum/elements/SearchInput/SearchInput.tsx
  packages/client/src/pages/Forum/elements/SearchInput/useSearchInput.ts
  packages/client/src/pages/Forum/elements/Topic/Topic.tsx
  packages/client/src/pages/Forum/elements/Topic/types.ts
  packages/client/src/pages/Forum/elements/Topics/Topics.tsx
  packages/client/src/pages/Forum/elements/Topics/stub.ts
  packages/client/src/pages/ForumTopic/ForumTopic.tsx
  packages/client/src/pages/ForumTopic/elements/Comment/Comment.tsx
  packages/client/src/pages/ForumTopic/elements/Comment/types.ts
  packages/client/src/pages/ForumTopic/elements/InputLine/InputLine.tsx
  packages/client/src/pages/ForumTopic/elements/InputLine/types.ts
  packages/client/src/pages/ForumTopic/stub.ts
  packages/client/src/store/forum/extraReducers.ts
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/index.ts
  packages/client/src/store/forum/initialState.ts
  packages/client/src/store/forum/thunk.ts
  packages/client/src/store/forum/types.ts
  packages/client/src/store/store.ts
  packages/client/src/store/topic/extraReducers.ts
  packages/client/src/store/topic/forumSlice.ts
  packages/client/src/store/topic/index.ts
  packages/client/src/store/topic/initialState.ts
  packages/client/src/store/topic/thunk.ts
  packages/client/src/store/topic/types.ts
Due: lint-client, prettier

GCC-000 добавлена возможность оставлять комментарии к комментариям
  packages/client/src/api/forum/types.ts
  packages/client/src/pages/ForumTopic/ForumTopic.tsx
  packages/client/src/pages/ForumTopic/elements/Comment/Comment.tsx
  packages/client/src/pages/ForumTopic/elements/Comment/comment.module.css
  packages/client/src/pages/ForumTopic/elements/Comment/types.ts
  packages/client/src/pages/ForumTopic/elements/CommentWithParent/CommentWithParent.tsx
  packages/client/src/pages/ForumTopic/elements/CommentWithParent/commentWithParent.module.css
  packages/client/src/pages/ForumTopic/elements/CommentWithParent/index.ts
  packages/client/src/pages/ForumTopic/elements/CommentWithParent/types.ts
  packages/client/src/pages/ForumTopic/elements/InputLine/InputLine.tsx
  packages/client/src/pages/ForumTopic/elements/InputLine/inputLine.module.css
  packages/client/src/pages/ForumTopic/elements/InputLine/types.ts
Due: lint-client, prettier

пара строковых утилит
  packages/server/app/controllers/reaction.controller.ts
  packages/server/app/index.ts
  packages/server/app/init/upload/EmojiData.ts
  packages/server/app/init/upload/uploadEmoji.ts
  packages/server/app/models/emoji.model.ts
  packages/server/app/models/index.ts
  packages/server/app/models/reaction.model.ts
  packages/server/app/models/topic.model.ts
  packages/server/app/routes/index.ts
  packages/server/app/routes/reaction.routes.ts
  packages/server/app/services/reaction.service.ts
  packages/server/app/utils/ArrayFunc.ts
  packages/server/app/utils/CommonFunc.ts
  packages/server/app/utils/CommonTypes.ts
  packages/server/app/utils/StrFunc.ts
Due: prettier

исправлены замечания из ревью
  packages/server/app/models/comment.model.ts
  packages/server/app/models/cookie.model.ts
  packages/server/app/models/emoji.model.ts
  packages/server/app/models/reaction.model.ts
  packages/server/app/models/topic.model.ts
  packages/server/app/routes/reaction.routes.ts
  packages/server/app/services/reaction.service.ts
Due: prettier

Исправлены падающие запросы на сервере
  .env.sample
  docker-compose.yml
  packages/client/src/App.tsx
  packages/client/src/api/forum/index.ts
  packages/client/src/api/forum/types.ts
  packages/client/src/pages/Forum/elements/NewTopic/NewTopic.tsx
  packages/client/src/pages/ForumTopic/ForumTopic.tsx
  packages/client/src/store/topic/thunk.ts
  packages/server/app/index.ts
Due: lint-client, prettier

GCC-56 добавлено Web Audio API, звук при прыжке
  packages/client/src/game-core/input/InputHandler.ts
Due: lint-client, prettier

Исправлен oAuth
  packages/client/jest/jest.polyfills.js
  packages/client/src/api/baseApi/axiosClient.ts
  packages/client/src/api/oAuth/index.ts
  packages/client/src/client.d.ts
  packages/client/src/components/AuthForm/AuthForm.tsx
  packages/client/src/components/AuthForm/authForm.module.css
  packages/client/src/components/AuthForm/index.ts
  packages/client/src/components/AuthForm/types.ts
  packages/client/src/components/Form/Form.tsx
  packages/client/src/components/Form/form.module.css
  packages/client/src/components/Form/types.ts
  packages/client/src/components/OAuthButton/OAuthButton.tsx
  packages/client/src/components/OAuthButton/index.ts
  packages/client/src/components/OAuthButton/oAuthButton.module.css
  packages/client/src/components/OAuthButton/types.ts
  packages/client/src/components/RedirectButton/RedirectButton.tsx
  packages/client/src/components/RedirectButton/index.ts
  packages/client/src/components/RedirectButton/redirectButton.module.css
  packages/client/src/pages/ErrorPage/constants.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/OAuthCallback.tsx
  packages/client/src/pages/Login/__tests__/__snapshots__/Login.test.tsx.snap
  packages/client/src/pages/Login/index.ts
  packages/client/src/pages/Registration/Registration.tsx
  packages/client/src/pages/Registration/__tests__/__snapshots__/Registration.test.tsx.snap
  packages/client/src/pages/index.ts
  packages/client/src/routes/constants.ts
  packages/client/src/routes/index.tsx
  packages/client/src/store/user/extraReducers.ts
  packages/client/src/store/user/thunks.ts
  packages/client/src/utils/authentication/index.ts
  packages/client/src/utils/authentication/oauth.ts
  packages/client/src/utils/authentication/useCheckAuthentication.ts
  packages/client/src/utils/ui/popup.ts
  packages/client/src/utils/url/helpers.ts
  packages/client/vite.config.ts
  packages/server/app/init/index.ts
Due: lint-client, prettier

Исправлены роуты для reaction и emoji, доработана валидация
  packages/server/app/controllers/emoji.controller.ts
  packages/server/app/controllers/reaction.controller.ts
  packages/server/app/routes/emoji.routes.ts
  packages/server/app/routes/index.ts
  packages/server/app/routes/reaction.routes.ts
  packages/server/app/services/emoji.service.ts
  packages/server/app/services/reaction.service.ts
Due: prettier

эмодзи реакции на топики
  packages/client/src/api/emoji/index.ts
  packages/client/src/api/emoji/types.ts
  packages/client/src/api/reaction/index.ts
  packages/client/src/api/reaction/types.ts
  packages/client/src/pages/Forum/elements/Topic/Topic.tsx
  packages/client/src/pages/Forum/elements/Topic/topic.module.css
  packages/client/src/pages/Forum/elements/Topics/Topics.tsx
  packages/client/src/pages/ForumTopic/elements/EmojiList/EmojiList.tsx
  packages/client/src/pages/ForumTopic/elements/EmojiList/emojiList.module.css
  packages/client/src/pages/ForumTopic/elements/EmojiList/index.ts
  packages/client/src/pages/ForumTopic/elements/EmojiList/types.ts
  packages/client/src/store/forum/extraReducers.ts
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/thunk.ts
  packages/client/src/store/forum/types.ts
  packages/client/src/store/topic/extraReducers.ts
  packages/client/src/store/topic/thunk.ts
  packages/client/src/store/topic/types.ts
  packages/server/pgdata/.gitkeep
Due: lint-client, prettier

gcc-61 fix thunk forum
  packages/client/src/api/reaction/types.ts
  packages/client/src/pages/Forum/elements/Topic/Topic.tsx
  packages/client/src/pages/Forum/elements/Topics/Topics.tsx
  packages/client/src/pages/ForumTopic/elements/EmojiList/EmojiList.tsx
  packages/client/src/store/forum/extraReducers.ts
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/thunk.ts
  packages/client/src/store/forum/types.ts
  packages/client/src/store/topic/thunk.ts
  packages/server/pgdata/.gitkeep
Due: lint-client, prettier

gcc-61 fix get topics
  packages/client/src/pages/Forum/elements/Topics/Topics.tsx
  packages/client/src/store/forum/thunk.ts
Due: lint-client, prettier

gcc-61 fix after review
  packages/client/src/store/topic/thunk.ts
Due: lint-client, prettier

GCC-63 - Реализован Theme API
  packages/server/app/controllers/theme.controller.ts
  packages/server/app/controllers/userTheme.controller.ts
  packages/server/app/models/index.ts
  packages/server/app/models/theme.model.ts
  packages/server/app/models/userTheme.model.ts
  packages/server/app/routes/index.ts
  packages/server/app/routes/theme.routes.ts
  packages/server/app/routes/userTheme.routes.ts
  packages/server/app/services/comment.service.ts
  packages/server/app/services/theme.service.ts
  packages/server/app/services/userTheme.service.ts
Due: prettier

Тех долг - Доработана страница с ошибками
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/pages/ErrorPage/ErrorPage.tsx
  packages/client/src/pages/ErrorPage/constants.ts
  packages/client/src/pages/ErrorPage/errorPage.module.css
  packages/client/src/pages/ErrorPage/types.tsx
  packages/client/src/routes/index.tsx
  packages/client/src/utils/hocs/withErrorBoundary/Fallback/Fallback.tsx
  packages/client/src/utils/hocs/withErrorBoundary/Fallback/fallback.module.css
  packages/client/src/utils/hocs/withErrorBoundary/Fallback/index.ts
  packages/server/app/index.ts
  packages/server/app/init/index.ts
  packages/server/app/init/upload/uploadEmoji.ts
  yarn.lock
Due: lint-client, prettier

Небольшие правки и доработки форума
  packages/client/src/api/comments/index.ts
  packages/client/src/api/comments/types.ts
  packages/client/src/api/forum/types.ts
  packages/client/src/api/index.ts
  packages/client/src/api/topics/index.ts
  packages/client/src/api/topics/types.ts
  packages/client/src/pages/Forum/elements/SearchInput/useSearchInput.ts
  packages/client/src/pages/Forum/elements/Topic/Topic.tsx
  packages/client/src/pages/ForumTopic/ForumTopic.tsx
  packages/client/src/pages/ForumTopic/elements/Comment/Comment.tsx
  packages/client/src/pages/ForumTopic/elements/CommentWithParent/CommentWithParent.tsx
  packages/client/src/pages/ForumTopic/elements/EmojiList/emojiList.module.css
  packages/client/src/pages/ForumTopic/elements/InputLine/InputLine.tsx
  packages/client/src/store/forum/forumSlice.ts
  packages/client/src/store/forum/thunk.ts
  packages/client/src/store/topic/thunk.ts
  packages/client/src/store/topic/topicSlice.ts
  packages/client/src/store/topic/types.ts
  packages/client/src/utils/data/transformDate.ts
  packages/client/src/utils/date/constants.ts
  packages/client/src/utils/date/getDate.ts
  packages/client/src/utils/date/getLocaleDayOfWeek.ts
  packages/client/src/utils/date/index.ts
  packages/client/src/utils/date/isCurrentWeek.ts
  packages/client/src/utils/date/isToday.ts
  packages/client/src/utils/date/removeSeconds.ts
Due: lint-client, prettier

Добавлена ссылка на демо, также дополнена инструкция по запуску приложения
  README.md
Due: none

Рефакторинг главной страницы
  packages/client/index.html
  packages/client/src/App.css
  packages/client/src/assets/icons/arrowLeft.svg
  packages/client/src/assets/icons/arrowTop.svg
  packages/client/src/assets/icons/index.ts
  packages/client/src/assets/icons/playLarge.svg
  packages/client/src/assets/icons/sortAscend.svg
  packages/client/src/assets/icons/sortAscendLetter.svg
  packages/client/src/assets/icons/sortDescend.svg
  packages/client/src/assets/icons/sortDescendLetter.svg
  packages/client/src/assets/images/gameDemo.png
  packages/client/src/assets/images/gameOver.png
  packages/client/src/assets/images/gamePoster.png
  packages/client/src/assets/images/index.ts
  packages/client/src/assets/images/playFly.png
  packages/client/src/assets/images/playJump.png
  packages/client/src/assets/images/playStart.png
  packages/client/src/pages/Game/components/StartGame/StartGame.tsx
  packages/client/src/pages/Home/components/Hero/Hero.tsx
  packages/client/src/pages/Home/components/Hero/hero.module.css
  packages/client/src/pages/Home/components/Rating/Rating.tsx
  packages/client/src/pages/Home/components/Rating/rating.module.css
  packages/client/src/pages/Home/components/Rating/types.ts
  packages/client/src/pages/Home/components/Rules/Rules.tsx
  packages/client/src/pages/Home/components/Rules/rules.module.css
  packages/client/src/pages/Home/components/Rules/types.ts
  packages/client/src/pages/Home/components/Team/Team.tsx
  packages/client/src/pages/Home/components/Team/team.module.css
  packages/client/src/pages/Home/components/Team/types.ts
Due: lint-client, prettier

GCC-69 - Добавлен action для сборки образа docker
  .github/workflows/build_and_push.yaml
Due: none

Исправлена ссылка на демо
  README.md
Due: none

GCC-70 - Добавлен middleware для проверки авторизации
  .gitignore
  docker-compose.yml
  packages/client/src/api/baseApi/axiosClient.ts
  packages/server/app/error/constants.ts
  packages/server/app/error/getErrorMessage.ts
  packages/server/app/index.ts
  packages/server/app/middlewares/auth.middleware.ts
  packages/server/app/middlewares/proxy.interceptor.ts
  packages/server/app/models/cookie.model.ts
  packages/server/app/models/index.ts
  packages/server/app/services/cookie.service.ts
  packages/server/app/utils/formatCookies.ts
  packages/server/pgadmin-data/.gitkeep
  packages/server/pgdata/.gitkeep
Due: lint-client, prettier

Внесены мелкие исправления в игровой движок
  packages/client/src/game-core/GameObject.ts
  packages/client/src/game-core/GameWorld.ts
  packages/client/src/game-core/Platform.ts
  packages/client/src/game-core/Player.ts
  packages/client/src/game-core/PlayerStates/Standing.ts
  packages/client/src/game-core/PlayerStates/Walking.ts
  packages/client/src/game-core/State.ts
  packages/client/src/game-core/constants.ts
  packages/client/src/game-core/input/InputHandler.ts
  packages/client/src/game-core/utils/CommonFunc.ts
  packages/client/src/game-core/utils/ResourcesLoader.ts
  packages/client/src/game-core/utils/Sprite.ts
  packages/client/src/game-core/utils/functions.ts
  packages/client/src/game-core/utils/gameTypes.ts
  packages/client/src/game-core/utils/math.ts
  packages/client/src/game-core/utils/types.ts
  packages/client/src/pages/Game/components/PlayGame/PlayGame.tsx
  packages/client/src/pages/Game/components/PlayGame/playGame.module.css
  packages/client/src/utils/ui/popup.ts
Due: lint-client, prettier

GCC-67 добавлен Gamepad API
  packages/client/src/game-core/GameWorld.ts
  packages/client/src/game-core/input/InputHandler.ts
  packages/client/src/pages/Game/Game.tsx
  packages/client/src/pages/Game/components/PlayGame/PlayGame.tsx
Due: lint-client, prettier

Path conditions:
  lint-client: any of: *.{ts,tsx} and ^packages/client/
  lint-server: any of: *.{ts} and ^packages/server/
  prettier: any of: *.{ts,tsx,css}
